{% load static %}
<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="{% static 'main/img/favicon.png' %}">

  <meta name="description" content="" />
  <meta name="keywords" content="" />

    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500i,700|Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'main/css/vendor/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/vendor/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/vendor/aos.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/vendor/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/vendor/bootstrap.css' %}">

    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <title>Соседи - Контакты</title>
  </head>
  <body>
    
    <div id="agpmen--overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Загрузка...</span>
      </div>
    </div>

    
    <nav class="agpmen--site-mobile-menu">
      <div class="close-wrap d-flex">
        <a href="#" class="d-flex ml-auto js-menu-toggle">
          <span class="close-label">Закрыть</span>
          <div class="close-times">
            <span class="bar1"></span>
            <span class="bar2"></span>
          </div>
        </a>
      </div>
      <div class="site-mobile-inner"></div>
    </nav>


    <div class="agpmen--site-wrap">

      {% include 'main/nav.html' %}

      <main class="agpmen--site-main">
        

        <div class="agpmen--site-hero inner-page bg-light" style="background-color: #fff;">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-md-9">
                <div class="site-hero-contents" data-aos="fade-up">
                  <h1 class="hero-heading">Связаться с нами</h1>
                  <div class="sub-text w-75">
                    <p>Если у вас возникли вопросы или предложения.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="agpmen--site-section">
          <div class="container">
            
              <div class="row">
                <div class="col-12" data-aos="fade-up">
                  <h2 class="display-4 mb-5">Заполните форму</h2>
                </div>
                <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
                  
                  <form action="#">
                    <div class="form-group">
                      <label for="name">Ваше имя *</label>
                      <input type="text" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                      <label for="email2">Ваша почта *</label>
                      <input type="text" class="form-control" id="email2">
                    </div>
                    <div class="form-group">
                      <label for="subject">Тема</label>
                      <input type="text" class="form-control" id="subject">
                    </div>
                    <div class="form-group">
                      <label for="message">Сообщение *</label>
                      <textarea name="message" class="form-control" id="message" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="submit" value="Отправить" class="btn btn-black px-5 text-white">
                    </div>
                  </form>
                </div>
                <div class="col-md-4 ml-auto"  data-aos="fade-up" data-aos-delay="200">
                  <div class="media-29190">
                    <span class="label">Почта</span>
                    <p><a href="#">info@sosedi-psk.ru</a></p>
                  </div>
                  <div class="media-29190">
                    <span class="label">Телефон</span>
                    <p><a href="#">+7 911 001 01 01</a></p>
                  </div>
                  <div class="media-29190">
                    <span class="label">Адрес</span>
                    <p>Ленина, 1, Псков</p>
                  </div>
                  <div class="media-29190">
                    <span class="label">Social</span>
                    <ul class="icons-top icons-dark">
                      <li>
                        <a href="#"><span class="icon-telegram"></span></a>
                      </li>
                      <li>
                        <a href="#"><span class="icon-vk"></span></a>
                      </li>
                      <li>
                        <a href="#"><span class="icon-instagram"></span></a>
                      </li>
                      <li>
                        <a href="#"><span class="icon-tripadvisor"></span></a>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>
            
          </div>
        </div>

         <div class="agpmen--site-section py-5 bg-body-darker cta">
          <div class="container">
            <div class="row">
              <div class="col-12 text-center">
                <h3 class="m-0 p-0">Если у вас есть какие-либо особые пожелания, пожалуйста, обращаться к нам. <a href="tel://+79110010101">+79110010101</a></h3>
              </div>
            </div>
          </div>
        </div>

      </main>
{% include 'main/footer.html' %}
  </body>
</html>