<nav class="agpmen--site-nav js-sticky-nav">
        <div class="container d-flex align-items-center">
          <div class="logo-wrap">
            <a href="{% url 'home' %}" class="agpmen--site-logo">Соседи</a>
          </div>
          <div class="site-nav-ul-wrap text-center d-none d-lg-block">
            <ul class="site-nav-ul js-clone-nav">
              <li class="active"><a href="{% url 'home' %}">Главная</a></li>
              <li class="has-children">
                <a href="{% url 'rooms' %}">Комнаты</a>
                <ul class="dropdown">
                  <li>
                    <a href="#">Студенческий люкс</a>
                  </li>
                  <li>
                    <a href="#">На всю стипендию</a>
                  </li>
                  <li>
                    <a href="#">Просто и со вкусом</a>
                  </li>
                </ul>
              </li>
              <li><a href="{% url 'services' %}">Услуги</a></li>
              <li><a href="{% url 'news' %}">Новости</a></li>
              <li><a href="{% url 'about' %}">О нас</a></li>
              <li><a href="{% url 'contacs' %}">Контакты</a></li>
            </ul>
          </div>
          <div class="icons-wrap text-md-right">

            <ul class="icons-top d-none d-lg-block">
              <li class="mr-4">
                <a href="#" class="js-search-toggle"><span class="icon-search2"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-vk"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-telegram"></span></a>
              </li>
              <li>
                <a href="#"><span class="icon-instagram"></span></a>
              </li>
            </ul>

            <!-- Mobile Toggle -->
            <a href="#" class="d-block d-lg-none burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
              <span></span>
            </a>
          </div>
        </div>
      </nav>